@media(max-width: 290px){
	.button{
		font-size:9px;
	}
	.logo_get {
    margin-right: 39px;
	margin-left:0;
	}
	.header_name > h1 >a {
    font-size: 27px;
	}
}

@media(min-width:375px)and (orientation: landscape) {
	.logo_get {
    margin-right: 40px;
	margin-left:0;
	}
}
@media(max-width: 576px){
	
.logo_get{

	margin-right:67px;
	margin-left:0;
	padding: 9px 20px;
}
.button{
	 border: 2px solid #ffc451;
}
.banner{
	padding:79px 0;
}
.banner_content{
    padding: 30px 0 0;
}
.banner_content >h1{
	   font-size: 32px;
    line-height: 43px;
}
.banner_items{
	height:auto;
}
.banner_items > i{
	font-size:30px;
}
.about_content {
	padding-top: 33px;
}
.services_heading h1, .portfolio_heading h1{
	font-size:31px;
}
.namepost_banner p{
	padding:0;
}
.team_images {
	margin-bottom:20px;
}
.footer_company{
	margin-bottom:20px;
}
	
}
.clients_images img{
	padding:15px;
}
.d_sm_none{
	display:none !important; 
}

}



@media(min-width:576px){

.col-sm-1{
	width:8.33%;
	padding:0 15px;
}
.col-sm-2{
	width:16.66%;
	padding:0 15px;
}
.col-sm-3{
	width:25%;
	padding:0 15px;
}
.col-sm-4{
	width:33.33%;
	padding:0 15px;
}
.col-sm-5{
	width:41.66%;
	padding:0 15px;
}
.col-sm-6{
	width:50%;
	padding:0 15px;
}
.col-sm-7{
	width:58.33%;
	padding:0 15px;
}
.col-sm-8{
	width:66.66%;
	padding:0 15px;
}
.col-sm-9{
	width:75%;
	padding:0 15px;
}
.col-sm-10{
	width:83.33%;
	padding:0 15px;
}
.col-sm-11{
	width:91.66;
	padding:0 15px;
}
.col-sm-12{
	width:100%;
	padding:0 15px;
}
.team_images {
	margin-bottom:20px;
}

}
@media(min-width: 768px){
	.container{
		width:720px;
	}

.col-md-1{
	width:8.33%;
	padding:0 15px;
}
.col-md-2{
	width:16.66%;
	padding:0 15px;
}
.col-md-3{
	width:25%;
	padding:0 15px;
}
.col-md-4{
	width:33.33%;
	padding:0 15px;
}
.col-md-5{
	width:41.66%;
	padding:0 15px;
}
.col-md-6{
	width:50%;
	padding:0 15px;
}
.col-md-7{
	width:58.33%;
	padding:0 15px;
}
.col-md-8{
	width:66.66%;
	padding:0 15px;
}
.col-md-9{
	width:75%;
	padding:0 15px;
}
.col-md-10{
	width:83.33%;
	padding:0 15px;
}
.col-md-11{
	width:91.66;
	padding:0 15px;
}
.col-md-12{
	width:100%;
	padding:0 15px;
}
.logo_get{
	margin-right:30px;
	padding: 12px 20px;
}
.about_content  {
	padding: 20px 0;
}
.d_md_none{
	display:none!important;
}
.d_md_show{
	display:display!important;
}
.button{
	 border: 2px solid #ffc451;
}
.aboutinfo_image h4{
	font-size:20px;
}
.callaction_content .button{
	    padding: 14px 49px;
		border:3px solid white;
}
.banner_items{ 
	height:auto;
	padding: 33px 17px 32px;
 } 
 .banner_items > i{
	font-size:32px;
}
.team_images {
	margin-bottom:20px;
}
}

@media(min-width: 992px){
	
	
.container{
	padding:0 15px;
	width:950px;
	margin:0 auto;
}
.col-lg-1{
	width:8.33%;
	padding:0 15px;
}
.col-lg-2{
	width:16.66%;
	padding:0 15px;
}
.col-lg-3{
	width:25%;
	padding:0 15px;
}
.col-lg-4{
	width:33.33%;
	padding:0 15px;
}
.col-lg-5{
	width:41.66%;
	padding:0 15px;
}
.col-lg-6{
	width:50%;
	padding:0 15px;
}
.col-lg-7{
	width:58.33%;
	padding:0 15px;
}
.col-lg-8{
	width:66.66%;
	padding:0 15px;
}
.col-lg-9{
	width:75%;
	padding:0 15px;
}
.col-lg-10{
	width:83.33%;
	padding:0 15px;
}
.col-lg-11{
	width:91.66;
	padding:0 15px;
}
.col-lg-12{
	width:100%;
	padding:0 15px;
}
.d_lg_show{
	display:block !important;
}
.d_lg_none{
	display:none !important;
}
.logo_get{
	margin-right:0px;
	padding: 7px 20px;
}
.d_lg_show{
	display:block !important;
}
.button{
	 border: 1px solid #ffc451;
}
.row_direction{
	flex-direction:row;
}
.banner_items{
	height:100%;
}
.about_content  {
	padding: 20px 0;
}
.aboutinfo_image h4{
	font-size:20px;
}	
.banner_items > i {
    font-size: 25px;
}
.banner_items{ 
	padding: 33px 17px 19px;
 } 
 .logo_get{
	 margin-left:0;
 }
 .logo_nav .nav_list .logo_navlink{
	 padding:0;
 }
}
@media(min-width: 1200px){
	.container{
	padding:0 15px;
	width:1170px;
	margin:0 auto;
}
.logo_nav .nav_list .logo_navlink{
	padding: 5px 10px;
 }
}